:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url('src/assets/db-background.webp');
  background-repeat: no-repeat;
  background-size: cover; 
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 10px;
  color: black;
}

h2 {
  font-size: 1.6em;
  line-height: 0.5;
  text-align: center;
  color: black;
}

h3 {
  font-size: 1.2em;
  line-height: 0.5;
  text-align: center;
  color: black;
}

.Flashcards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 40vh;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  cursor: pointer;
  border: 1px solid #f1f1f1;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.2s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
  transition: transform 0.2s;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front p, .flip-card-back p {
  font-family: Inter, system-ui, Avenir, Helvetica;
  font-size: 1.2em;
  font-weight: bold; 
  padding: 10px; 
}

.flip-card-front {
  background-color: #F85B1A;
  color: black;
}

.flip-card-back {
  background-color: #072083;
  color: white;
  transform: rotateY(180deg);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 30px;
}
button:hover {
  border-color: #F85B1A;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
